<!-- Add New Service Module  -->
<div class="modal fade show" id="addService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <form method="post" action="/services/add" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Add New Service</h4>
                    <a href="#" data-dismiss="modal">
                        <i class="far fa-window-close text-danger" style="font-size: 2em;"></i>
                    </a>
                </div>
                <div class="modal-body">

                    <!-- Form Group (Service Name)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="title">Service Name </label>
                        <input name="title" class="form-control" id="title" type="text" placeholder="Enter your service name" required>
                    </div>

                    <!-- Form Group (Service Image)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="image">Service Image </label>
                        <input name="image" class="form-control" id="image" type="file" required>
                    </div>


                    <div class="row gx-3 mb-3">
                        <!-- Form Group (Service Description)-->
                        <div class="col-md-12">
                            <label class="small mb-1" for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" required cols="30" rows="5" style="resize: none;">
                                
                            </textarea>

                        </div>
                    </div>
                    <!-- Form Group (Service State)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="state">Service State </label>
                        <select class="form-control" name="state" id="state" required>
                            <option value="1" selected>Visible</option>
                            <option value="0">Hidden</option>
                        </select>
                    </div>


                    <!-- Save changes button-->

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn curr-bg curr-text">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Service Module  -->
<div class="modal fade show" id="editService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <form method="post" action="/services/edit" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Edit Service</h4>
                    <a href="#" data-dismiss="modal">
                        <i class="far fa-window-close text-danger" style="font-size: 2em;"></i>
                    </a>
                    <input type="hidden" id="editServiceID" name="_id" value="">
                </div>
                <div class="modal-body">

                    <!-- Form Group (Service Name)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="title">Service Name </label>
                        <input name="title" class="form-control" id="editServiceName" type="text" placeholder="Enter your service name" value="" required>
                    </div>


                    <!-- Form Group (Service Image)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="image">Service Image </label>
                        <input name="image" class="form-control" id="image" type="file">
                    </div>

                    <div class="row gx-3 mb-3">
                        <!-- Form Group (Service Description)-->
                        <div class="col-md-12">
                            <label class="small mb-1" for="description">Description</label>
                            <textarea class="form-control" name="description" id="editServiceDescription" required cols="30" rows="5" style="resize: none;">
                                
                            </textarea>

                        </div>
                    </div>


                    <!-- Form Group (Service State)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="editServicestate">Service State </label>
                        <select class="form-control" name="state" id="editServicestate" required>
                            <option value="1" selected>Visible</option>
                            <option value="0">Hidden</option>
                        </select>
                    </div>

                    <!-- Save changes button-->

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn curr-bg curr-text">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete service Module -->

<div id="deleteService" class="modal fade deleteModal">
    <form action="/services/delete" method="post">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this Service ? This process cannot be undone.</p>
                </div>
                <input type="hidden" name="_id" value="" id="deleteServiceID">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Delete All Services Module -->

<div id="deleteAllServices" class="modal fade deleteModal">
    <form action="/services/delete_all" method="post">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete All Services ? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Show Services Trash Module  -->
<div class="modal fade show" id="showTrashedServices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div style="max-width: 90%;" class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg ">
        <div class="modal-content p-3">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Services Recycle bin</h4>
                    <a href="#" data-dismiss="modal">
                        <i class="far fa-window-close text-danger" style="font-size: 2em;"></i>
                    </a>
                </div>
                <div class="modal-body">

                    <div class="wrapper">

                        <div class="container">
                            <div class="row">
                                <div class="">
                                    <div class="fresh-table table w-100">
                                        <table id="fresh-table" class="table" style="color: var(--current-text-color);">
                                            <thead>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>State</th>
                                                <th>Actions</th>
                                            </thead>

                                            <tbody>
                                                <% for(const trash in Trash)
                                                if (Object.hasOwnProperty.call(Trash, trash)) {
                                                %>
                                                    <tr>
                                                        <td>
                                                            <img src="/uploads/services/<%= Trash[trash].image; %>" style="width: 50px;" alt="">
                                                        </td>
                                                        <td>
                                                            <%= Trash[trash].title; %>
                                                        </td>
                                                        <td>
                                                            <%= Trash[trash].description; %>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-solid fa-eye-slash"></i>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-solid fa-trash-undo text-outline-primary" role="button" data-toggle="modal" data-target="#restoreService" onclick="linkTrashID('<%= Trash[trash]._id; %>');"> Restore</i>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Save changes button-->

                </div>
            </form>
        </div>
    </div>
</div>


<!-- Restore service Module -->

<div id="restoreService" class="modal fade deleteModal">
    <form action="/services/undo" method="post">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <h4 class="modal-title w-100">Restore Selected Service </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to Restore this Service ? </p>
                </div>
                <input type="hidden" name="_id" value="" id="undoServiceID">
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Restore</button>
                </div>
            </div>
        </div>
    </form>
</div>