:root {
    --primary-light-text: #333;
    --primary-light-bg: #6593A6;
    --primary-light-body: rgb(233, 232, 232);
    --primary-dark-text: #fff;
    --primary-dark-bg: #13516a;
    --primary-dark-body: #333;
    --secondary-color-text: #dfd;
    --secondary-color-bg: #00ff72;
    --primary-hover-color: #437c94;
    --border-focused-false: rgb(145, 16, 16);
    --border-focused-true: rgb(94, 255, 0);
    --dark-hover: #13516a;
    --light-hover: white;
    --current-body-color: var(--primary-light-body);
    --current-bg-color: var(--primary-light-bg);
    --current-text-color: var(--primary-light-text);
    --current-hover: var(--dark-hover);
}

.Dark-Them {
    --current-body-color: var(--primary-dark-body);
    --current-bg-color: var(--primary-dark-bg);
    --current-text-color: var(--primary-dark-text);
    --current-hover: var(--light-hover);
}

.Light-Them {
    --current-body-color: var(--primary-light-body);
    --current-bg-color: var(--primary-light-bg);
    --current-text-color: var(--primary-light-text);
    --current-hover: var(--dark-hover);
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.bodyStructure {
    display: flex;
    flex-direction: row;
}

body {
    background-color: var(--current-body-color);
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: justify;
    color: var(--current-text-color);
}

a {
    text-decoration: none;
    color: inherit;
}


/* Header Section*/

header {
    background-color: var(--current-bg-color);
    color: var(--current-text-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

header nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

header nav section {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header nav img {
    width: 160px;
    margin: 2vw;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
    cursor: pointer;
}

header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: left;
}

.toggleMenuButton {
    display: none;
    font-size: 7vw;
    padding-right: 7vw;
    cursor: pointer;
}

.closeButton {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    transition: 0.5;
}

.overlay {
    width: 100%;
    height: 65%;
    background-color: var(--current-bg-color);
    position: fixed;
    top: -500px;
    left: 0;
    padding-top: 40px;
    transition: 1s;
}

.closeButton:hover {
    color: darkred;
}

header nav ul li {
    margin: 20px 0;
    list-style-type: none;
    font-size: 21px;
    padding: 10px 15px;
    padding-left: 30px;
    transition: ease-in-out 300ms;
    position: relative;
}

header nav ul li:hover {
    font-size: 22px;
}

header nav ul li::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    padding: 10px 2px;
}

header nav ul li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header nav ul li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--current-body-color);
    z-index: -1;
    transition: transform .3s ease;
}


/* Container Sections */

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    ;
}


/* Card Template  */

.card {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.lineStyle {
    margin-top: 10px;
    width: 300px;
    border-bottom: 65px solid var(--current-bg-color);
    border-radius: 0 10% 10% 0;
    position: relative;
}

.lineStyle::after {
    content: " ";
    background-color: var(--current-bg-color);
    position: absolute;
    right: -15px;
    height: 64px;
    z-index: -1;
    width: 64px;
    border-radius: 50%;
}

main {
    margin: 2% 5%;
    width: 90%;
}

.card h1,
.summary h1 {
    text-decoration: underline;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 13px;
}

.card h5 {
    font-weight: lighter;
    margin-top: 18px;
}

.card hr {
    margin-bottom: 20px;
}

section aside img {
    width: 100%;
    border-radius: 2%;
    transition: all ease-in-out 500ms;
    cursor: pointer;
}

.summary {
    padding: 3%;
}

.card p {
    font-size: 30px;
    margin-bottom: 10px;
}

aside {
    margin: 2% 6%;
    width: 50%;
}


/* Contact Section  */

#contact a {
    font-size: 4vw;
    color: var(--current-bg-color);
    transition: ease-in-out 0.8s;
}

#contact h3 {
    margin-bottom: 20px;
}

#contact a:hover {
    transform: rotateZ(360deg) scale(1.5);
    color: var(--current-hover);
}


/* Style inputs with type="text", select elements and textareas */

.styled {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    border-left: 5px solid var(--border-focused-false);
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: var(--current-bg-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: var(--primary-hover-color);
}


/* Add a background color and some padding around the form */

.containerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 5%;
}

.gridShow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.gridShow img {
    width: 46%;
    padding: 2%;
    border-radius: 5%;
}

.serviceBox {
    width: 40%;
    padding: 2%;
    border-radius: 5%;
    text-align: center;
    background-color: var(--current-bg-color);
    box-shadow: 0 0 10px;
    margin: 2%;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.serviceBox:hover {
    background-color: var(--primary-hover-color);
    color: var(--primary-dark-text);
    box-shadow: 0 0 10px inset;
}

.serviceBox img {
    width: 90%;
    padding: 5%;
    border-radius: 5%;
}

.serviceBox p {
    padding: 2%;
    font-size: small;
    text-align: justify;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: var(--current-bg-color);
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    color: var(--current-text-color);
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    vertical-align: middle;
    z-index: 999;
}

footer h2 {
    padding-top: 6vh;
}

#buttonUp {
    position: fixed;
    bottom: 0;
    right: 1%;
    color: var(--current-text-color);
    font-size: 4vw;
    z-index: 999;
    transition: all ease-in-out 0.5s;
}

#buttonUp:hover {
    transform: scale(1.1);
    margin-right: 1vw;
}

@media(max-width:768px) {
    header nav {
        flex-direction: row;
    }
    header nav ul a {
        font-size: 15px;
    }
    header nav img {
        width: 13vw;
    }
    .bodyStructure {
        flex-direction: column;
    }
    .card {
        flex-direction: column;
    }
    .containerForm {
        width: 75vw;
    }
    section aside img {
        width: 75vw;
        border-radius: 5%;
    }
    .gridShow {
        flex-direction: column;
    }
    .gridShow img {
        width: 92%;
        padding: 4%;
        border-radius: 10%;
    }
    .serviceBox {
        width: 80%;
        height: auto;
        padding: 4%;
        border-radius: 10%;
        margin-bottom: 10px;
    }
    #buttonUp {
        font-size: 9vw;
    }
    #contact a {
        font-size: 7vw;
    }
    .toggleMenuButton {
        display: inline;
    }
    #myNav {
        width: 100%;
        height: 65%;
        background-color: var(--current-bg-color);
        position: fixed;
        top: -100%;
        left: 100%;
        padding-top: 40px;
        transition: 1s;
        z-index: 999;
        border-radius: 0px 0px 0px 33%;
        box-shadow: 0 0 20px var(--current-body-color);
    }
    .closeButton {
        display: inline;
    }
}

@media(max-width:1000px) and (min-width:769px) {
    #home,
    #contact {
        flex-direction: column;
    }
    #home img {
        width: 50vw;
        border-radius: 5%;
    }
    header nav ul a {
        font-size: 18px;
    }
    .gridShow img {
        width: 92%;
        padding: 4%;
        border-radius: 10%;
    }
    .containerForm {
        width: 57vw;
    }
    #myNav {
        border-radius: 0;
        box-shadow: none;
        top: 0;
    }
}


/* The switch - the box around the slider */

.switch {
    position: absolute;
    top: 14px;
    right: 2%;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--current-body-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--current-text-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--current-body-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.inputFaildLightThem {
    border-color: var(--border-focused-false);
}

.inputSuccessLightThem {
    border-left: 5px solid;
    border-color: var(--border-focused-true);
}