<div class="lineStyle" style="position: sticky; top: 0; z-index: 10;">
    <!-- Rounded switch -->
    <label class="switch">
        <% if(adminThem == "Dark") { %>
            <script>toggleThem('admin','Dark');</script>
            <% } else if(adminThem == "Light") { %>
                <script>toggleThem('admin','Light');</script>
                <% } %>
        
            <input type="checkbox"  onchange="toggleThem('admin')"  >
            <span class="slider round"></span>
</label>
</div>