<div class="lineStyle" style="position: sticky; top: 0; z-index: 10;">
    <!-- Rounded switch -->
    <label class="switch">
<input type="checkbox" onchange="toggleThem()">
<span class="slider round"></span>
</label>
</div>